.container {
  margin-top: 20px;
  padding: 20px;
  max-width: 815px;
  width: 100%;
  height: 250px;
  background: #90cec6;
  border-radius: 8px;
}
.firstSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.secondSection {
    display: flex;
    margin: 8px 12px 8px 8px;
    justify-content: space-between;
}
.lastSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media only screen and (max-width: 700px) {
    .container {
        width: 100%;    
    }
    .secondSection {
        margin: 8px 5px 8px 8px;

    }
  }
