.container {
    max-width: 450px;
    max-height: 430px;
    width: 100%;
    margin-top: 20px;
    margin-right: 10px;
    
}
.campaignHeader {
    font-family: 'Titillium Web', sans-serif;
}
.campaginDescription {

    font-family: 'Titillium Web', sans-serif;
}

.cardImage {
    height: 140px;
}
@media only screen and (max-width: 700px) {
    .container {
        margin: 10px;    
    }
   
  }