.shopE {
    background: #6592CF;
    width: 12%;
    padding: 10px;
    height: 50px;
    border-radius: 0 0 0 100px;
     -moz-border-radius: 0 0 0 100px;
     -webkit-border-radius: 0 0 0 100px;
}
.title {
    padding-top: 20px;
}
.shopB {
    width: 15%;
    height: 70px;
    background: #6592CF;
    border-radius: 5px;
}
.shopF {
    background: #6592CF;
    width: 12%;
    padding: 10px;
    height: 50px;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
}