body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
  background-image: url('https://poilabsmall.herokuapp.com/assets/presentation-bg.jpeg');
  background-repeat: initial;
  background-size: cover;
}

code {
  font-family: 'Titillium Web', sans-serif;
}
