body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
  background-image: url('http://localhost:3000/assets/presentation-bg.jpeg');
}

code {
  font-family: 'Titillium Web', sans-serif;
}
